@media screen and (max-width: 600px){

    .flex {
        flex-direction: column;
        height: 85vh;
    }

    header{
        height: 15vh;
    }


    .flex>section:nth-child(1) {
        height: 70vh;
        width: 100%;
    }

    .flex>section:nth-child(2) {
        height: 15vh;
        width: 100%;
    }


}